*{
	padding: 0;
	margin: 0;
}
body{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	background-color: #bdfff1;
}
<header













header .had{
	width: 100%;
	height: 30px;
	background-color:#cece;
}
a{
	text-decoration: none;
}