*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 20px;
	font-family: "华文行楷";
	text-decoration: none;
}
body{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	display: inline-flexbox;
	background-color: #48486c;
}
article #centent{
	color: #D3D3D3;
	width: 80%;
	margin-top: 60px;
	height: 1020px;
	margin: 30px auto 20px;
	border-radius: 10px;
	background-color: #2c2c53;
	padding: 20px;
	border: 1px solid #BDFFF1;
}
article #centent #text form #msg{
	width: 80%;
	height: 180px;
	background-color: #304070;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	color: #83FFF7;
	padding: 20px;
	margin: 0 auto;
	display: block;
}